  body {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: #fff;
  }

  .container {
    max-width: 75%;
    margin: 0 auto;
  }

  .data-block {
    background-color: #444;
    width: 40%;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    color: white;
  }

  .data-block img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  .data-block strong {
    font-size: 24px;
    display: block;
    margin-bottom: 20px;
  }

  .search {
    background-color: #444;
    padding: 1%;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    margin-bottom: 20px;
    width: 87%;
margin: auto;
font-family: 'Rubik', sans-serif;
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  }

  .search input[type="text"] {
    width: 60%;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    background-color: #555;
    color: #fff;
    margin-right: 20px;
  }

 button {
width: 20%;
height: 40px;
font-size: 18px;
background-color: #333;
color: #fff;
border: none;
border-radius: 20px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
font-family: 'Rubik', sans-serif;
    padding: 10px 20px;
    text-align: center;
  }

  button:hover {
    background-color: #171B36;
    color: white;
font-family: 'Rubik', sans-serif;
font-weight: bold;
font-style: italic;
  }
  
  input[type="submit"]:hover {
    background-color: #ddd;
    color: #333;
  }
  
  strong {
    font-family: 'Poppins', sans-serif;
  }

  p {
    font-family: 'Rubik', sans-serif;
  }
 .tab {
            display: inline-block;
            margin-left: 40px;
        }
        .title img {
          width: 50%;
          height: auto;
text-align: center;
display: block;
  margin-left: auto;
  margin-right: auto;
        }
.returnhome img {
          width: 20%;
          height: auto;
text-align: center;
display: block;
  margin-left: auto;
  margin-right: auto;
        }

button {
  font-size: 10px;
}

@media (min-width: 768px) {
  button {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  button {
    font-size:14px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 16px;
  }
}
.data-block {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.data-block.visible {
  opacity: 1;
  transform: translateY(0);
}
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .data-block {
      width: 35%;
      border: 1px solid black;
      margin-bottom: 10px;
      padding: 10px;
      text-align: center;
    }
    img {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
    h1 {
        text-align: center;
    }

    .search {
      text-align: center;
    }